.HeaderMesa {
    width: 100%;
    margin-bottom: 10px;
}

.left{
    margin-bottom: 20px;
    display: flex;
}


.accordion-heading {
    margin-bottom: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: grey;
    color: white;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */ 
    user-select: none; 
}

.accordion-heading:hover {
    background-color: rgb(143, 141, 141);
}

@media(max-width:410px){
    .left{
        width: 170px;
        justify-content: space-between;
    }
}



