.HeaderMesa {
    width: 100%;
    margin-bottom: 20px;
}

.leftMesa {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: -35px;
    max-width: 275px;
}

.accordion-heading {
    margin-bottom: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: grey;
    color: white;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */ 
    user-select: none; 
}

.accordion-heading:hover {
    background-color: rgb(143, 141, 141);
}



