.buttons{
    margin-top: 15px;
    width: 100%;
    position: relative;
    left: 40%;
}
.box{
   position: absolute;
   width: 40%;
   right: 30%;
}
.InputeButton{
    position: relative;
    left:10%;
}

.LoginForm {
    width: 100%;
    max-width: 400px;
    background-color: red;
    padding: 20px;
    box-sizing: border-box;
}