.flex-container {
    display: flex;
    flex-wrap: wrap;
}


button {
    margin: 0 0 0 8px;
    border: none;
    height: 35px;
    background-color: #09f;
    color: white;
    cursor: pointer;
}

input {
    width: 100%;
    border: 1px solid rgb(218, 216, 216);
    height: 31px;
    color: rgb(80, 80, 80);
    font-size: 15px;
}

input:focus {
    border-color: #c1c1c1;
    outline: none;
}