.AppButton {
    width: 100%;
    margin: 0 0 0 0;
    background-color: #09f;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
}

.AppButtonGrey{
    background-color: rgb(115, 116, 116);
}

.AppButtonPrimary{
    background-color: #09f;
}

.AppButtonDanger{
    background-color: rgba(228,60,60,0.963);
}

.AppButtonAlert{
    background-color: rgb(244,234,88);
}

.AppButtonCreate{
    background-color: #1b5e20;
}

@media(max-width:480px){
    .AppButton{
        font-size: 12px;
        font-weight: bold;
        height: 35px;
    }
}