.caixadotramitardoc {
    width: 100%;
    height: 450px;
    border-radius: 0;
    color: #222;
    margin-bottom: 15px;
}

.mensagemdotramitar {
    padding: 15px;
    font-size: 12px;
    text-align: left;
    margin-top: 5%;
}