.AppSubHeader {
    width: 100%;
    padding: 1px;
    background-color: var(--sub-cor-padrao);
    color: white;
}

.MenuSubHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Container2{
    display: flex;
    align-items: center;
    color: white;
}

.Avatar {
    text-align: right;
    cursor: pointer;
    margin-right: 30px;
    color: white;
}

.Ambiente {
    text-align: left;
}

.Logo {
    width: 60px;
}

@media(max-width:410px){

    .MenuSubHeader{
        margin-left: 5px;
        margin-right: 5px;
        display: list-item;
        justify-content: space-between;
        align-items: center;
    }

    .Container2 Button {
        width: 70px;
        margin-left: auto;
    }

}