.buscar-usuario {
    width: 35px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao-completa-modelo {
    text-align: left;
    color: rgb(145, 145, 145) ;
    font-size: 12px;
}