.buscar-usuario {
    width: 35px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao-completa-modelo {
    text-align: left;
    font-size: 12px;
}

.BtnCriar {
    width: 120px;
    padding: 5px;
    margin-left: 0 !important;
}

.NomeClompletoUsuario { }

.MatriculaUsuario { }

.item-gerais input {
    margin-bottom: 10px;
}

.BtnModalListarPessoas {
    background-color: var(--sub-cor-padrao-button);
}

.container-box {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-direction: row; 
    justify-content: flex-start;
}
  
.item-box-1 {
    width: 23%;
    padding-right: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 4px; 
}

.item-box-2 {
    width: 50%;
    padding-right: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 4px; 
}
  

.input-group-container {
    display: flex;
    align-items: center;
}
  
.input-group {
    margin-right: 10px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
  
.input-group input[type="text"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right: none;
    padding-right: 30px;
}
  
.input-group button {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: none;
    padding: 5px 10px;
}

@media screen and (max-width: 400px) {

    .item-box-1, .item-box-2 {
      width: 100%;
    }

}