.AppHeader {
    padding: 5px;
    background-color: var(--cor-padrao); 
}

.menu {
    text-align: right;
}

.BtnMenu {
    background-color: red;
    width: 35px;
    text-align: right;
    cursor: pointer;
}

.Logo {
    width: 60px;
}

.navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    z-index: 998;
    background-color: #3a3633;
    list-style: none;
}

.navbar-usuario {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #525151;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.navbar-menu-item {
    padding: 15px;
}

.navbar-menu-item a {
    color: #c0bbb7;
    text-decoration: none;
}

.navbar-menu-item a:hover {
    color: #fff;
}
