.VisuDoc{
    width: 100%;
    height: 600px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #222;
    margin-bottom: 15px;
}

.LogoDoc{
    width: 110px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.body {
    padding: 15px;
    font-size: 12px;
    margin-bottom: 200px;
    flex-wrap: wrap;
}


p {
    line-height: 15px;
}

.HeaderDocumento {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.AppFucoes {
    margin-bottom: 20px;
}

.footer {
    width: 100%;   
    text-align: center;
    line-height: 0;
    word-wrap: break-word;
}
