.VisuDoc{
    width: 100%;
    height: 450px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #222;
    margin-bottom: 15px;
}

.LogoDoc{
    width: 60px;
}

.descricaoDocumento {
    width: 100%;
    padding: 15px;
    font-size: 12px;
}


p {
    line-height: 1px;
}

.HeaderDocumento {
    height: 20%;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.AppFucoes {
    margin-bottom: 20px;
}
.footer {
    width: 100%;   
    text-align: center;
    line-height: 0;
    word-wrap: break-word;
    margin-top: 150px;
}
