.AppBox{ 
    width: 100%; 
    padding: 2px;
    border: 1px solid #ccc;
}
.HeaderBox {
    font-size: 15px;
    background-color: var(--cor-padrao);
    color: white;
    margin: -2px;
    padding: 2px 10px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BoxList {
    max-height: 100px; 
    overflow-y: hidden;
}

.BoxListItem {
    font-size: 16px;
    color: #333;
    padding: 5px 0;
}

.ExpandButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
