body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --cor-padrao: #0277bd;
  --sub-cor-padrao:#cfd8dc  ;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.Conteudo {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: pink;
}


 