.AppInput {
    height: 45px;
}

.AppInput label {
    display: flex;
    flex-direction: column;
}

.AppInput span {
    text-transform: uppercase;
    color: #222;
    font-size: .8em;
    height: 15px;
    letter-spacing: .75px;
    margin-bottom: 10px;
}

.AppInput input {
    border: none;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 30px;
    color: #222;
}

.AppInput input:focus {
    border-color: #222;
    outline: none;
}

.AppInput label input::placeholder { 
    color: #ccc;
}