.AppForm {
    margin:  10px 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .1);
    padding: 20px;

    >*:not(:last-child) {//Não realizar margem no último item. 
        margin-bottom: 20px;
    }
}

.Titulo {
    font-size: 18px;
    background-color: var(--cor-padrao);
    color: white;
    margin: -20px;
    margin-bottom: 50px;
    padding: 15px 20px;
    font-weight: bold;
}