.VisuDocCompleto{
    width: 100%;
    height: 450px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #222;
    margin-bottom: 15px;
}
.PDFView {
    width: 100%;
    height: 700px;
}